nav{
    overflow: hidden;
    position: fixed;
    background-color: rgb(73, 67, 67);
    width:100%;
    margin: 0px auto; 
    padding:px 0;
    height: 50px;
}
 
nav >ul{
    text-decoration: none;
}
nav > ul > li{
    display:inline-block;
}
nav >ul > li >a {
  float: left;
  display:block;
  color: #f2f2f2; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}
nav > ul > li > a:hover{
    color: burlywood;
    padding: 14px;
    text-decoration: none;
    display:block;
}


 /* nav {
    margin: 0px auto;
    padding: 10px 0;
    margin-right: 0%;
    background-color: rgb(73, 67, 67 ;
  }
  
  nav > ul {
    text-align: right;
  }
  
  nav > ul > li {
    display: inline-block;
  }
  
  nav > ul > li > a {
    padding: 14px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    background-color: none;
    border-radius: 15px;
    color: rgba(248, 245, 245, 0.733);
    font-size: 1.2rem;
  }
  
  nav > ul > li > a:hover {
    box-shadow: 0 0 10px rgba(252, 250, 250, 0.1),
      inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
    */